
.tag_container {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.tag {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 115px;
    height: 25px;

    background: #FF6060;
    border-radius: 10px;

    h3 {

        color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 700;
    margin: 0;
    }
}

@media (max-width: 375px) {
    .tag {
        width: 23%;
        height: 15%;
    }

    .tag h3 {
        font-size: 7px;
    }
}
