.info_container {
    display: flex;
    justify-content: space-between;
    max-width: 1240px;
    margin: 0 auto;
}

.part_one {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.part_one h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    font-weight: 500;
    line-height: 51.34px;
    text-align: left;
    margin: 0 0 10px 0;
    color: #FF6060;
    ;
}

.part_one p {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 25.67px;
    text-align: left;
    margin: 0 0 10px 0; /* Espace en dessous du p */
}

.tag_container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; /* Espace entre les tags */
    margin-top: 10px; /* Espace au-dessus du tag_container */
}

.tag_container .tag {
    background-color: #FF6060; /* Fond des tags */
    padding: 5px 10px;
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    color: white;
}
    
.part_two {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.host {
    display: flex;
    align-items: center;
    img {
        border-radius: 50%;
        width: 64px;
        height: 64px;
    }
}

.host h3 {
    margin-right: 10px;
    color: red;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 18px;
}

.rating {
    margin-top: 10px;
     img {
        margin: 5px;
    }
}




@media screen and (max-width:375px) {
    .info_container {
        width: 90%;
        display: flex;
        flex-direction: column;
    }
    
    .part_one {
        h1 {
            font-size: 18px;
        }

        p {
            font-size: 14px;
        }

        .tag {
            height: 20%;
        }
    }

    .part_two {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row-reverse;
        gap: 25px;
    }
    
    .rating {
        display: flex;
        align-items: center;
        margin-right: 86px;

        img {
            width: 10%;
            margin-left: 5px;
        }
    }
    
    .host {
        display: flex;
        align-items: center;

        h3 {
            font-size: 12px;
        }

        img {
            width: 25%;
            height: 25%;
        }
    }
}