.appartment_collapse_container {
    display: flex;
    justify-content: space-between;
    max-width: 1240px;
    margin: 20px auto 30px auto;
    gap: 57px;
  
    // Assure-toi que les enfants prennent l'espace disponible correctement
    .collapse {
      flex: 1;
      margin-right: 10px; // espace entre les deux colonnes
  
      &:last-child {
        margin-right: 0; // Pas d'espace après le dernier élément
      }
    }
  }

.collapse{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-between;
    align-items: flex-start;
    max-width: 1100px;
    margin: 0 auto;
    
    &_title{
        color: #fff;
        background-color: #FF6060;
        width: 100%;
        height: 52px;
        border-radius: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 2%;
        box-sizing: border-box;
        gap: 76px;
        img {
            width: 24px;
            height: 13px;

            // jouer hauteur largeur pour la flèche ici
        }
        .arrow{
            transition: all 0.2s ease-in-out;
        }
        .arrow_up{
            transform: rotate(180deg);
        }
        .arrow_down{
            transform: rotate(180deg);
        }
    }
    &_content{
        display: flex;
        flex-direction: column;
        width: 100%;
        box-sizing: border-box;
        letter-spacing: 1px;
        visibility: visible;
        margin: -3px 0 20px 0;
        opacity: 1;
        height: auto;
        padding: 15px;
        letter-spacing: 1px;
        font-size: clamp(12px, 1.8vw, 18px);
        transition: visibility 0.5s ease-in-out,
                    opacity 0.5s ease-in-out,
                    height 0.2s ease-in-out;
        background: #f6f6f6;
        p{
            display: flex;

            height: 1%;

            font-family: 'Monserrat' , sans-serif;
            font-size: 18px;
            font-weight: 400;
        }
    }
    &_content_hidden{
        visibility: hidden;
        opacity: 0;
        height: 0;
    }
}

.accomodation_collapse{
    display: flex;
    justify-content: space-between;
    gap: 70px;
    margin: 30px auto;
    width: 95%;
    &_item{
        width: 50%;
    }
}

@media screen and ( max-width: 375px){
    .appartment_collapse_container {
        flex-direction: column;
        align-items: center;
        gap: 20px;
        width: 90%;
    }

    .collapse {
        width: 100%;
    }
}

