header .containernav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    // flex-wrap: wrap;
    padding: 0;
    max-width: 1230px;
    margin: 0 auto;
}

header .containernav a {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 17px;
    color: #000;
}

ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: flex-end;
    gap: 57px;
    margin-top: 0;
    padding-left: 0;
}

li {
    display: inline;
    position: relative;
    border-top: solid 2px transparent;
    padding-top: 20px;
}

.main_nav {
    width: 22%;
    text-align: center;
}

.main_nav a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 1px;
    width: 0;
    height: 1px;
    background-color: #000;
    transition: width 0.3s ease;
}

.main_nav a.active::after,
.main_nav a:hover::after {
    width: 100%;
}

@media screen and (max-width: 1200px) {
    header .containernav {
        width: 90%;
    }

    .main_nav {
        width: 30%;
    }
}

@media screen and (max-width: 735px) {
    

    .main_nav {
        width: 50%;
    }
}

@media screen and (max-width: 500px) {
    .containernav a {
        width: 40%;
    }
    .logo {
        width: 100%;
    }

    .main_nav ul {
        gap: 25px;
    }
}

